:root {
  --background: #272727;
  --textarea: #1b1b1b;
  --hotpink: #c900a7;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: 'Fredoka', sans-serif;
  font-size: x-large;
  color: white;

  margin: 10px 0;
}

body {
  background-color: var(--background);
  animation-name: load;
  animation-duration: 1s;
}

input {
  resize: none;

  padding: 8px;

  border: 1px var(--textarea);
  background-color: var(--textarea);
  border-radius: 12px;
}

button {
  padding: 12px;
  border: none;
  background-color: var(--hotpink);
  border-radius: 12px;
}

.heading-text {
  text-align: center;
}

.wrapper {
  margin: 0 auto;
  margin-top: 25vh;
  width: 40rem;
}

#password {
  width: 100%;
  padding: 50px 0;
}

/* animate on load */
@keyframes load {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}